<div>
    <h2 id="page-heading">
        <span>Carts</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-cart" [routerLink]="['/cart/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create a new Cart
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="carts?.length === 0">
        <span>No carts found</span>
    </div>
    <div class="table-responsive" *ngIf="carts?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th>Products in Cart</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let cart of carts ;trackBy: trackId; let i = index" >
                <div *ngIf="i === 0" >

                <td><a [routerLink]="['/cart', cart.id, 'view' ]">{{cart.id}}</a></td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/cart', cart.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/cart', cart.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/cart', { outlets: { popup: cart.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>

                </div>

                <td>
                    <div class="table-responsive" >
                        <table class = "table table-striped">
                            <thead>
                            <tr>
                                <th><span>Products ID</span></th>
                                <th>Product Price</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr
                                *ngFor="let cartProduct of cartProducts ;trackBy: trackCartProductId">
                                <td>{{cartProduct.id}}</td>
                                <td>{{cartProduct.price}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </td>

                </tr>




            </tbody>
        </table>



    </div>
</div>
