<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="checkout">
            <h2><span>Checkout</span> {{checkout.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>E Mail</span></dt>
                <dd>
                    <span>{{checkout.eMail}}</span>
                </dd>
                <dt><span>First Name</span></dt>
                <dd>
                    <span>{{checkout.firstName}}</span>
                </dd>
                <dt><span>Last Name</span></dt>
                <dd>
                    <span>{{checkout.lastName}}</span>
                </dd>
                <dt><span>Street</span></dt>
                <dd>
                    <span>{{checkout.street}}</span>
                </dd>
                <dt><span>Zip Code</span></dt>
                <dd>
                    <span>{{checkout.zipCode}}</span>
                </dd>
                <dt><span>City</span></dt>
                <dd>
                    <span>{{checkout.city}}</span>
                </dd>
                <dt><span>Country</span></dt>
                <dd>
                    <span>{{checkout.country}}</span>
                </dd>
                <dt><span>Credit Cart Number</span></dt>
                <dd>
                    <span>{{checkout.creditCartNumber}}</span>
                </dd>
                <dt><span>Credit Cart Security Number</span></dt>
                <dd>
                    <span>{{checkout.creditCartSecurityNumber}}</span>
                </dd>
                <dt><span>Credit Card Expiration Month</span></dt>
                <dd>
                    <span>{{checkout.creditCardExpirationMonth}}</span>
                </dd>
                <dt><span>Credit Card Expiration Year</span></dt>
                <dd>
                    <span>{{checkout.creditCardExpirationYear}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/checkout', checkout.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
