<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-checkout-heading">Create or edit a Checkout</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_eMail">E Mail</label>
                    <input type="text" class="form-control" name="eMail" id="field_eMail"
                           formControlName="eMail"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_firstName">First Name</label>
                    <input type="text" class="form-control" name="firstName" id="field_firstName"
                           formControlName="firstName"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_lastName">Last Name</label>
                    <input type="text" class="form-control" name="lastName" id="field_lastName"
                           formControlName="lastName"/>
                    <div *ngIf="editForm.get('lastName').invalid && (editForm.get('lastName').dirty || editForm.get('lastName').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('lastName').errors.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_street">Street</label>
                    <input type="text" class="form-control" name="street" id="field_street"
                           formControlName="street"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_zipCode">Zip Code</label>
                    <input type="text" class="form-control" name="zipCode" id="field_zipCode"
                           formControlName="zipCode"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_city">City</label>
                    <input type="text" class="form-control" name="city" id="field_city"
                           formControlName="city"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_country">Country</label>
                    <input type="text" class="form-control" name="country" id="field_country"
                           formControlName="country"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_creditCartNumber">Credit Cart Number</label>
                    <input type="text" class="form-control" name="creditCartNumber" id="field_creditCartNumber"
                           formControlName="creditCartNumber"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_creditCartSecurityNumber">Credit Cart Security Number</label>
                    <input type="number" class="form-control" name="creditCartSecurityNumber" id="field_creditCartSecurityNumber"
                           formControlName="creditCartSecurityNumber"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_creditCardExpirationMonth">Credit Card Expiration Month</label>
                    <input type="number" class="form-control" name="creditCardExpirationMonth" id="field_creditCardExpirationMonth"
                           formControlName="creditCardExpirationMonth"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_creditCardExpirationYear">Credit Card Expiration Year</label>
                    <input type="number" class="form-control" name="creditCardExpirationYear" id="field_creditCardExpirationYear"
                           formControlName="creditCardExpirationYear"/>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
