<div>
    <h2 id="page-heading">
        <span>Checkout</span>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>

    <h5 *ngIf="products?.length === 0"> Cart is Emtpy</h5>

    <div class="table-responsive" *ngIf="products?.length > 0">
        <button (click)="clearCart()">Empty Cart</button>
        <table class="table table-striped">
            <thead>
                <th><span>ID</span></th>
                <th><span>Name</span></th>
                <th><span>Price</span></th>
                <th><span>Description</span></th>
                <th><span>Foto Path</span></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let product of products ;trackBy: trackProductId">
                <td>{{product.id}}</td>
                <td>{{product.name}}</td>
                <td>{{product.price}}</td>
                <td>{{product.description}}</td>
                <td>{{product.fotoPath}}</td>
            </tr>
            </tbody>
        </table>
    </div>

    <form *ngIf="products?.length > 0" [formGroup]="orderForm">
        First name: <input type="text" name="firstName" formControlName="firstName"><br>
        Last name: <input type="text" name="lastName" formControlName="lastName"><br>
        EMail: <input type="text" name="eMailAddress" formControlName="eMailAddress"><br>
        Address: <input type="text" name="address" formControlName="address"><br>
        Credit Card Number: <input type="number" name="creditCardNumber"
                                   formControlName="creditCardNumber"><br>
        Credit Card Security Number: <input type="number" name="creditCardSecurityNumber"
                                            formControlName="creditCardSecurityNumber"><br>
        Credit Card Expiration Date (Year Month, example: 202012 (=december 2020))<br>
        <input type="number" name="creditCardExpirationDate"
               formControlName="creditCardExpirationDate"><br>

        Currency (EUR/USD) <input type="text" name="paymentCurrency"
                                  formControlName="paymentCurrency"><br>

        <input type="submit" value="Place Order" (click)="placeOrder()">
    </form>

    <h4 *ngIf="orderPlacedText !== ''"> {{orderPlacedText}} </h4>

</div>
